:root {
    --red-border: rgba(197, 0, 0, 0.683);
    --red-contenido:  rgba(215, 135, 135, 0.683);
    --blue-border: rgba(12, 66, 183, 0.683);
    --blue-contenido: rgba(108, 112, 190, 0.683);
    --naranja-border: rgba(229, 123, 9, 0.683);
    --naranja-contenido: rgba(190, 152, 108, 0.683);
    --gray-border: rgba(54, 54, 54, 0.683);
    --gray-contenido: rgb(161, 161, 161);
}
  
.contenedor {
    text-align: center;
    margin: 0 auto;
    border: 1px solid #000;
    width: 900px;
}
.menu{
    text-align: center;
    margin: 0 auto;
}
.titulo {
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFFFFF;
    background-color: var(--red-contenido);
    border: 2px solid var(--red-border)
}
.lista {
    padding: 5px;
    display: flex;
    font-weight: bold;
    text-align: center;
    height: 40px;
    margin: 0px 0px;
    border: 2px solid var(--blue-border)
}
.lista ul {
    
    display:inline;
    font-size: 12px;
}
.lista li {
    list-style-type: none;
    padding: 10px;
    border-radius: 2px;
    margin-right: 8px;
}
.item1 {
    background-color:  var(--naranja-border);
    border: 2px solid var(--naranja-contenido);
    margin-right: 8px;
}
.item2{
    border: 2px solid var(--blue-border);
    background-color: var(--blue-contenido);
    margin-right: 8px;
}
.lista li a{
    text-decoration: none;
}
.contenido {
    float: left; 
    width: 75%;
    height: 100%;
}
.resultado {
    float: left; 
    width: 24%;
    border: 2px solid var(--blue-border);
    background-color: var(--blue-contenido);
    min-height: 300px;
    height: 100%;
}
.mensaje {
    clear: both;
    margin-top: 10px;
    height: 40px;
    background-color: var(--red-contenido);
    border: 2px solid var(--red-border);
    color: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding-top: 10px;
    width: 900px;
    height: 50px;
    margin: 0 auto;
}
.separador {
    color:gray;
}
.border{
    border-style: groove;
}
.lista-imagenes img{
    height: 150px;
}
.error{
    color: red;
}